*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Nunito Sans, sans-serif;
    background-color: #252525;

}

.bfore_nav ul {
   list-style-type: none;
   background-color: #ebe4e4;
   overflow: hidden;
   padding: 0;
   margin: 0;
   
}

.listDec li {
    display: inline-block;
    padding: 14px 16px;
}

.listDec li a {
    text-decoration: none;
    color: #000000;
    font-weight: 650;
}

.listDec li a:hover {
   color: #73CC33;
   border-color: #73CC33;

}

.listDec li:not(:first-child) {
    float: right;
}

.bfore_nav_btn a {
  /* background-color: #333; */
  padding: 0.4em 1em;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

#bfore_nav_btn a:hover {
    text-decoration: none;
    color: #73CC33;
    border-color: #73CC33;

}

div.nav {
    padding: 10px;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
}

.nav::after {
    content: "";
    display: table;
    clear: both;
}

.logo img {
    width: 18em;
}

.logo {
    float: left;
    width: 25%;
}

.link_pages {
    float: left;
    width: 75%;
    text-align: right;
    margin-top: 20px;
}
.link_pages a {
    text-decoration: none;
    padding: 14px 16px;
    color: #000000;
    font-weight: 650;
    font-size: 1.5em;
}

.large_img img {
    max-width: 100%;
    height: 5%;
}


#large_img {
    background-image: url(img/csm_Jubilaeums-Festakt_Bild_5_9e0c862f29.webp);
    background-repeat: no-repeat;
    background-position: right bottom, left top;
    padding: 270px;
   
}

#large_img p {
    margin-top: 3px;
}
.text_1 {
    color: #ffffff;
    letter-spacing: 0.04em;
    font-size: 2.1em;
    font-weight: bolder;
    padding: 0px 10px 0 15px;
    background-color: #252525;
}

.container_text {
    position: relative;
    right: 180px;
    top: 220px;
}

.startSeite {
    background-color: #0F172A;
    padding: 15px;
}

.startSeite p {
    color: #f1f1f1;
}


.studies_mensa {
    /* margin: 50px 0 50px 20px; */
    
}

.studies_mensa img {
    width: 683px;
    height: 683px;
   
}

.studies p {
    color: #ffffff;
}

.headings {
    color: #ffffff;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 1.2em;
    margin-bottom: 40px;
}

.headings span {
    font-weight: 50;
}

.img_mensa_study {
    float: left;
    width: 40%;
    /* background-color: aqua; */
    margin-top: 50px;
    padding-left: 100px;
}

.intro {
    float: left;
    width: 60%;
    margin-top: 50px;
    padding-right: 200px;
    padding-left: 60px;
    /* background-color: #73CC33; */
}

.intro p {
    margin-bottom: 23px;
    font-size: 19px;
    line-height: 1.6em;
}

.studies::after {
    clear: both;
    content: "";
    display: table;
}



#last_p {
    padding-bottom: 24px;
}


div.bfore_nav_btn a {
    text-decoration: none;
    color: #252525;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background-color: #ffffff;
    font-weight: bold;
}


div.bfore_nav_btn a:hover {
    color: #73CC33;
    border-color: #73CC33;
    border-width: 2px;
}

.xterics {
    background-color: #73CC33;
    margin-left: 300px;
    margin-top: 110px;
    
}

.xterics_img {
    float: left;
    margin-left: 65px;
    margin-right: 85px;
    /* background-color: #73CC33;  */
    width: 189px;
    font-size: 23px;
}

div.xterics_img img {
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #73CC33; */

    

}

.desc {
    padding-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 0.1em;
    line-height: 1.4em;
}

.xterics_img::after {
    content: "";
    display: table;
    clear: both;
}



.bewerbung h3 {
    text-transform: uppercase;
}



.bewerbung1, .bewerbung2 {
    float: left;

    color: #ffffff;
    margin-top: 110px;
}
.bewerbung1 {
    padding-left: 100px;
    /* background-color: #73CC33; */
    width: 40%;
}

.bewerbung2 {
    width: 758px;
    height: 506px;
    width: 50%;
}

.clor_change  {
    padding: 70px 30px;
    background-color: #0F172A;
}

.clor_change h3 {
    font-size: 1.43em;
    letter-spacing: 0.1em;
    color: #D1D5DB;
    margin-bottom: 20px;
}

.clor_change p {
    font-size: 17.5px;
    line-height: 1.6em;
}

.btn_bewerb {
    margin-top: 50px;
}

.bewerbung::after {
    content: "";
    display: table;
    clear: both;
}


.crd_img1 {
    background-image: url("img/csm_HS-Fulda-Drohne-Campus-29_59eaf3ae1c.webp");
}

.crd_img2 {
    background-image: url("img/csm_HS-Fulda-Drohne-Campus-40_53fdd74430.webp");
}

.crd_img3 {
    background-image: url("img/hs-fulda-steffen-boettcher--30.webp");
}

.crd_img4 {
    background-image: url("img/csm_HS-Sommer-HK-333_0aef43d5b9.webp");
}

.crd_img {
    height: 326.25px;
    width: 326.25px; 
    margin: 0px 40px 40px 0px;
    background-size: cover;
    position: relative; 
    transition: box-shadow 0.6s ease; 
    overflow: hidden; 
}

.crd_img::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60%; 
    pointer-events: none;
}

.crd_img:hover::after {
    background: linear-gradient(to top, white, transparent);
}

.crd_img1, .crd_img2, .crd_img3, .crd_img4 {
    background-repeat: no-repeat;
    background-size: cover; 
}

.card_display {
    margin-top: 50px;
    padding-right: 200px;
    padding-left: 100px;
}

.cards {
    float: left;
    width: 25%;
}

.img_row {
    content: "";
    display: table;
    clear: both;
}